body{
    margin: 0;
    padding: 0;
}

.container{
    background: url(../images/img_fundo.jpg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bloco{
    height: 90%;
    width: 40%;
    background-color: white;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 0 20px #1b828a;
}

#titulo{
    margin-left: 5px;
    font-family: cursive;
    font-size: 20px;
    color:#000000;
}

@media screen and (max-width: 500px) {
    .bloco{
        height: 70%;
        width: 90%;
    }
}