
body{
    margin: 0;
    padding: 0;

}

#titulo{
    color: #84398B;
    font-family: cursive;
    font-size: 90px;
    margin-bottom: -50px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagem{
    height: 500px;
    width: 100%;
    margin-left: -80px;
    background: url(../images/semfundo.png);
    background-repeat: no-repeat;
}

.opcoes{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: -330px;
    margin-left: 40px;
}

button{
    width: 300px;
    height: 120px;
    background-color: #84398B;
    border: transparent;
    margin-top: 10px;
    margin-left: 80px;
    font-family: cursive;
    font-size:  40px;
    color: rgb(255, 255, 255);
    box-shadow: 10px 10px #D9D9D9;
}